


/* Unidades de medida */

/* *********************************************************************************** */

/* Unidades de medida relativas */

/* Unidades de medida relativas a la fuente */

p {
    font-size: 16px; /* 1em */
    font-size: 1em; /* 1em */
    font-size: 100%; /* 1em */
    font-size: 1rem; /* 1em */
}

/* Unidades de medida relativas a la vista */   

p {
    width: 100vw; /* 100% del ancho de la ventana */
    width: 100vh; /* 100% del alto de la ventana */
    width: 100vmin; /* 100% del ancho o alto de la ventana, el que sea menor */
    width: 100vmax; /* 100% del ancho o alto de la ventana, el que sea mayor */
}

/* Unidades de medida flexibles */

div {
    background: lightblue;
    width: 100vw;   /* Acapara el 100% del ancho de la pantalla */
    height: 100vh;  /* Acapara el 100% de la altura de la pantalla */
}

p {
    font-size: 10vmin;  /* min 10% */
    font-size: 10vmax;  /* max 10% */
