
/* Sombras en CSS */


/* Concatenacion de sombras */
.div2 {
    width: 300px;
    height: 300px;
    background-color: gray;
    margin: 50px auto;
    box-shadow: 5px 5px 10px 0 #ccc,
     10px 10px 10px 0 #837f7f,
     15px 15px 10px 0 #2c1c1c;
}

/* Text-shadow */

h1 {
    text-shadow: 5px 5px 10px #ccc;
}

/* Diferencia entre drop-shadow y box-shadow */

/* drop-shadow aplica la sombra al objeto de la imagen
    mientras que box-shadow aplica la sombra al contenedor  
    de la imagen 
*/

.img1 {
    box-shadow: (8px 8px 10px red);
}

.img2 {
    filter: drop-shadow(8px 8px 10px red);
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    
    
    <div class="div2"></div>
</body>
</html>
