







/* Fonts basicas */
/* **************************************************************************************** */
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

/* Fonts descargadas */
/* *************************************************************************************** */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* Fonts externas */
/* ************************************************************************************** */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

p {
    font-family: 'Roboto', sans-serif;
}  


/* Estilos de texto */
/* **************************************************************************************** */
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-style:italic;
    color: aquamarine;

}

/* Espaciado de letras */

h1 {
    letter-spacing: 0.5rem;
}

/* Espaciado de palabras */

h1 {
    word-spacing: 0.5rem;
}   

/* Interlineado */

h1 {
    line-height: 1.5rem;
}   

/* Sangria */

h1 {
    text-indent: 1.5rem;
}   

/* Borde de texto */

h1 {
    text-shadow: 1px 1px 1px black;
}

/* Alinear texto */

h1 {
    text-align: center;
    text-align: left;
    text-align: right;
    text-align: justify;
}

/* Transformar texto  */    

h1 {
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
}   

/* Decoracion de texto */

h1 {
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
    text-decoration: none;
}   

/* Inicios de texto */

p::first-letter {
    font-size: 2rem;
    color: red;
}

p::first-line {
    font-size: 2rem;
    color: red;
}



